* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0px auto;
}
.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
}
.clearfix::after {
    content: " ";
    clear: both;
    display: table;
  }
h2.title {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 35px;
    font-weight: normal;
    border-left: 10px solid #e1e6ea;
    padding-left: 14px;
    margin-top: 83px;
    margin-bottom: 61px;
}
h2.title-white{
    color: white;
    border-left: 10px solid #4e5a62;
}
header{
    background-color: #1d2126;
    position: relative;
}
header label{
    display: none;
}
header input{
    display: none;
}
header .container{
    display: flex;
    justify-content: space-between;
    line-height: 81px;
    height: 81px;
}
header .container ul li {
    display: inline-block;
}
header .container ul li a {
    text-decoration: none;
    color: #929b9b;
    padding: 9px 12px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 3px;
    margin-left: 16px;
    font-size: 14px;
}
header .container ul li a:hover {
    border-color: #5b6168;
}
a:active, header .container ul li:first-child a {
    border-color: #23b7a4;
    color: #23b7a4;
}
#banner {
    background: #363a51 url(images/banner.jpg) no-repeat top center;
    background-size: cover;
}
#banner div.container {
    height: 660px;
    position: relative;
}
#banner div.container > div {
    position: absolute;
    width: 653px;
    top: 222px;
}
#banner div.container > div h2 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 36px;
}
#banner div.container > div p {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(204, 208, 215);
    margin-top: 26px;
}
#banner  ul{
    list-style: none;
}
#banner  ul li {
    display: inline-block;
}
#banner  ul li a{
    text-decoration: none;
}
#banner div div div ul li {
    margin-right: 10px;
    margin-top: 43px;
}
#banner div div div ul li a {
    text-transform: uppercase;
    display: block;
    width: 124px;
    height: 44px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    border: 2px solid white;
}
#banner div div div ul li a:hover {
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
}
#banner div.container > ul {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 628px;
}
#banner div.container > ul li{
    margin-left: 9px;
    margin-right: 0px;
}
#banner div.container > ul li:first-child{
    margin-left: 0px;
}
#banner div.container > ul li a {
    display: block;
    border: 2px solid white;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    text-indent: -9999px;
}
#banner div.container > ul li a:hover{
    background-color: white;
}
#banner div.container > ul li a.active{
    background-color: white;
}
#about{
    border-bottom: 1px solid #dde1e4;
}
#about div.container{
    margin-bottom: 85px;
}

#about div.container div p {
    color: #8d8f92;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
}
#about div.container div div#content-left {
    display: block;
    width: 57%;
    float: left;
}
#about div.container div div#content-left p:first-child {
    margin-bottom: 25px;
}
#about div.container div div#content-left ul{
    margin-top: 54px;
}
#about div.container div div#content-left > ul > li {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 1px;
    float: left;
}
#about div.container div div#content-left ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
    text-indent: -9999px;
}

#about div.container div div#content-left ul li:nth-child(1){ 
    background: #c8cdd0 url(images/socials/facebook.png) no-repeat center center;
}
#about div.container div div#content-left ul li:nth-child(2){
    background: #c8cdd0 url(images/socials/twitter.png) no-repeat center center;
}
#about div.container div div#content-left ul li:nth-child(3){
    background: #c8cdd0 url(images/socials/google.png) no-repeat center center;
}
#about div.container div div#content-left ul li:nth-child(4){
    background: #c8cdd0 url(images/socials/circle.png) no-repeat center center;
}
#about div.container div div#content-left ul li:nth-child(5){
    background: #c8cdd0 url(images/socials/be.png) no-repeat center center;
}
#about div.container div div#content-left > ul > li:hover{
    background-color: #d0d5d9;
}
#about div.container div div#content-right {
    display: block;
    width: 42%;
    float: right;
}
#about div.container div div#content-right ol{
    list-style: decimal-leading-zero;
}
#about div.container div div#content-right ol li h3{
    text-transform: uppercase;
    font-size: 18px;
    color: #292f36;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: 10px;
}
#about div.container div div#content-right ol li p {
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    margin-left: 70px;
    margin-bottom: 14px;
}
#about div.container div div#content-right ol li:last-child p{
    margin-bottom: 0px;
}
#about ol {
    counter-reset: about;
}
#about ol li{
    list-style: none;
    position: relative;
}
#about ol li:before{
    position: absolute;
    counter-increment: about;
    content: counters(about,'.',decimal-leading-zero);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #23b7a4;
    text-align: center;
    color: white;
}

#team{
    padding-bottom: 95.44px;
}
#team > div.container{
    max-width: 1170px;
}
#team > div.container > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#team > div.container > div > div {
    position: relative;
    display: block;
    flex-basis: calc((100% - 90px)/4);
}
#team > div.container > div > div > div.info {
    display: inline-block;
    width: 100%;
    height: 75px;
    padding-left: 20px;
    background-color: #e1e6ea;
}
#team > div.container > div > div > div h3{
    font-size: 16px;
    padding-top: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #292f36;
}
#team > div.container > div > div img{
    display: block;
    width: 100%;
}
#team > div.container > div > div > div p {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
}
#team div.mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    opacity: 0.4;
    background-color: #e5e9eb;
}
#team div.container ul{
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100% - 75px);
    justify-content: center;
    align-items: center;
}
#team div.container > div > div:hover div.mask{
    display: block;
}
#team div.container > div > div:hover ul {
    display: flex;
}
#team div.container > div > div ul li a:hover{
    background-color: #4e5a62;
}
#team  div.container > div > div:hover div.info {
    background-color: #3a454d;
}
#team  div.container > div > div:hover div.info h3 {
    color: white;
}
#team  div.container > div > div:hover div.info p {
    color: white;
}
#team div.container ul li{
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 0px;
}
#team div.container ul li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    text-indent: -9999px;
}
#team div.container ul li:first-child a {
    background-size: cover;
    background: #3a454d url(images/socials/twitter.png) no-repeat center center;
}
#team div.container ul li:nth-child(2) a {
    background-size: cover;
    background: #3a454d url(images/socials/facebook.png) no-repeat center center;
}
#team div.container ul li:last-child a {
    background-size: cover;
    background: #3a454d url(images/socials/linkedin.png) no-repeat center center;
}
.dark {
    background-color: #3a454d;
}
div#work > div.container > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
div#work > div.container > div div.work-info{
    position: relative;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px)/3);
}
#work > div.container > div div.work-info img{
    display: block;
    width: 100%;
    height: 100%;
}
div#work > div.container > div div.work-info div.mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #506371;
    opacity: 0.52;
    top: 0px;
    left: 0px;
}
div#work > div.container > div div.work-info:hover div.mask {
    display: block;
}
div#work > div.container > div div.work-info  a{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    background:  url(images/icon/plus.png) no-repeat center center ;
    text-indent: -9999px;
    top: 0px;
    left: 0px;
}
div#work > div.container > div div.work-info:hover a {
    display: block;
}
div#work > div.container > div div.work-info h3{
    display: none;
    position: absolute;
    width: 100%;
    height: 60px;
    font-size: 18px;
    line-height: 59px;
    left: 0px;
    bottom: 0px;
    text-transform: uppercase;
    background-color: #292f36;
    color: white;
    font-weight: normal;
    padding-left: 20px;
}
div#work > div.container > div div.work-info:hover h3 {
    display: block;
}
div#work > div.container > div#show-btn{
    display: flex;
    justify-content: center;
}
div#work > div.container > div#show-btn a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 151px;
    height: 44px;
    line-height: 44px;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
div#work > div.container > div#show-btn a:hover{
    border-color: #23b7a4;
    background-color: #23b7a4;
}

#whatdo div.container > div.detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 63px;
}
#whatdo div.container > div.detail > div {
    flex-basis: calc((100% - 90px)/4);
    padding-bottom: 95px;
}
#whatdo div.container > div.detail > div div {
    display: flex;
    justify-content: center;
}
#whatdo div.container > div.detail > div h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    color: #292f36;  
    margin-top: 29px;
    margin-bottom: 19px;
}
#whatdo div.container > div.detail > div p{
    text-align: center;
    font-size: 16px;
    color: #8d8f92;
    line-height: 26px;
}
#feature div.container > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 70px;
}
#feature div.container > div > div {
    flex-basis: calc((100% - 60px)/3);
    height: 100%;
}
#feature div.container > div > div img{
    display: block;
    width: 100%;
    height: 100%;
}
#feature div.container > div > div h4{
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    line-height: 42px;
    margin-top: 41px;
    
}
#feature div.container > div > div p{
    color: #dcdfe1;
    font-size: 16px;
    line-height: 26px;
    font-weight: lighter;
}
#touch .container div h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #292f36;
    font-weight: 500;
    margin-left: 10px;
}
#touch{
    padding-bottom: 35px;
}
#touch .container:last-child {
    position: relative;
}
#touch .container div p {
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    margin-top: 20px;
}
#touch form {
    display: inline-block;
    width: calc((555/1170)*100%);
    position: absolute;
    padding: 0px 30px;
    left: calc((555/1170)*100%);
    bottom: 51px;
    background-color: white;
}
#touch form div#per-info{
    display: flex;
    justify-content: space-between;
}
#touch form div div {
    display: inline-block;
    width: calc((100% - 15px)/2);
}
#touch  label{
    display: block;
    color: #8d8f92;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-top: 30px;
}
#touch input{
    display: inline-block;
    width: 100%;
    height: 44px;
    background-color: #eaeef1;
    border-radius: 3px;
    border: none;
    padding: 0px 10px;
}
#touch form div#mess textarea{
    width: 100%;
    background-color: #eaeef1;
    border-radius: 3px;
    border: none;
    text-size-adjust: none;
    padding: 5px 10px;
}
#touch button{
    display: inline-block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    text-transform: uppercase;
    background-color: #23b7a4;
    color: white;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
}
#touch button:hover{
    cursor: pointer;
    background-color: #23d2bb;
}
#touch #maps {
    width: 100%;
    background: black url(images/maps.jpg) no-repeat center center;
    background-size: cover;
    height: 346px;
}
#touch div#contact {
    display: inline-block;
    width: 40%;
    padding: 30px 0px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}
footer .container p {
    color: white;
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
}
footer .container ul{
    display: inline-block;
}
footer .container ul li {
    display: block;
    float:left;
}
footer .container ul li a {
    display: block;
    background-size: auto;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
}
footer .container ul li:nth-child(1) a{
    background: transparent url(images/socials/twitter.png) no-repeat center center;
}
footer .container ul li:nth-child(2) a{
    background: transparent url(images/socials/facebook.png) no-repeat center center;
}
footer .container ul li:nth-child(3) a{
    background: transparent url(images/socials/skype.png) no-repeat center center;
}
footer .container ul li:nth-child(4) a{
    background: transparent url(images/socials/be.png) no-repeat center center;
}
footer .container ul li:nth-child(5) a{
    background: transparent url(images/socials/linkedin.png) no-repeat center center;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

/* Responsive */

@media screen and (max-width: 960px){
    #banner div.container {
        height: 660px;
        position: static;
    }
    #banner div.container > div {
        display: block;
        width: auto;
        position: static;
        text-align: center;
        padding-top: 150px;
    }
    #banner div.container > ul {
        display: block;
        position: static;
        text-align: center;
        padding-top: 220px;
    }
    #about div.container div div#content-right {
        width: 48%;
    }
    #about div.container div div#content-left {
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    header .container {
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        height: auto;
        flex-wrap: wrap;
    }
    header .container div{
        width: 100%;
        text-align: center;
        display: block;
    }
    header .container ul{
        width: 100%;
        text-align: center;
    }
    header .container ul li a{
        margin-left: 0px;
        font-size: 14px;
    }

    #team > div.container > div > div {
        flex-basis: calc((100% - 30px)/2);
        margin-top: 15px;
    }

    div#work > div.container > div div.work-info {
        flex-basis: calc((100% - 30px)/2);
    }

    #whatdo div.container > div.detail > div {
        flex-basis: calc((100% - 30px)/2);
        padding-bottom: 35px;
    }

    #touch form div#per-info {
        flex-wrap: wrap;
    }
    #touch form div div {
        width: calc((100% - 15px));
    }
    #touch label {
        padding-top: 20px;
    }
}

@media screen and (max-width: 500px){
    header .container ul li {
        display: none;
    }
    header label {
        display: inline-block;
        position: relative;
        width: 35px;
        height: 35px;
        border-width: 5px 0px;
        border-color: white;
        border-style: solid;
        margin: 15px;

    }
    header  input{
        position: absolute;
        display: none;
        width: 35px;
        height: 35px;
        border: 5px;
        opacity: 0.3;
    }
    
    header label::before{
        position: absolute;
        top: calc((100% - 5px)/2);
        left: 0px;
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: white;

    }
    header .container {
        line-height: 65px;
    }
    header .container div{
        width: auto;
        text-align: center;
        display: block;
    }
    header .container input:checked + ul li {
        display: block;
    }

    #about div.container div div#content-left {
        width: 100%;
        text-align: center;
    }
    #about div.container div div#content-left ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #about div.container div div#content-left > ul > li {
        display: inline-block;
        width: 60px;
        height: 60px;
        float: none; 
    }
    #about div.container div div#content-right {
        width: 100%;
    }

    #team > div.container > div > div {
        flex-basis: 100%;
        margin-top: 15px;
    }

    div#work > div.container > div div.work-info {
        flex-basis: 100%;
    }

    #whatdo div.container > div.detail > div {
        flex-basis: 100%;
    }

    #feature div.container > div {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    #feature div.container > div > div {
        flex-basis: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    #feature div.container > div > div h4 {
        margin-top: 10px;
    }

    #touch #maps {
        height: 200px;
    }
    #touch .container:last-child {
         position: static; 
    }
    #touch div#contact {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 30px 10px;
    }
    #touch form {
        width: 100%;
        position: static;
        left: auto;
        padding: 0 15px;
    }
    #touch form div div {
        width: 100%;
    }

    footer .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer .container ul {
        margin-top: -20px;
    }
    footer .container p {
        font-size: 16px;
    }

}

